.ProfStats {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgrey;
}

.statBlock {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    align-items: center;
    border: 2px solid black;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.number {
    background-color: white;
    text-align: center;
    min-width: 25%;
    line-height: 200%;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.description {
    font-weight: bold;
}