.head{
    text-align: center;
}

.dLine{
    text-align: center;
    background-color:#F2F2F2;
    margin: 5px;
    border-radius: 5px; 
    padding: 5px
}

.desc{
    margin: 10px;
}

.button{
    background-color: #a0a0a0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 95%;
    border-radius: 5px; 
    margin: 12px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}